@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/PTSansNarrow-Bold.ttf") format("ttf");
}

@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Dancing+Script|Julius+Sans+One|Monoton|Sevillana&display=swap');

#app {
  background: #f7f7f7 !important
}
.uk-button-primary {
  background: #67a5b3 !important;
}
a:hover {
  color: #276377 !important;
}
a {
  color: #2d5f75 !important;
}
a:hover {
  background: #d0e7ec !important;
}
a.active-exact {
  background: #d0e7ec !important;
}
.uk-input {
  background: #deeaec !important;
}



.uk-width-medium {
  width: 230px !important
}

#app-content {
  position: inherit !important;
}